<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Prisma Club</ion-title> -->
    <img src="assets/images/logo.png">
    </ion-navbar>
</ion-header>
<ion-content class="home">
  <ion-list *ngFor="let item of items">
    <ion-item class="item-home">
      <button ion-item (click)="itemTapped($event, item)">
          <img *ngIf="item.ccw_thumbnail && item.ccw_thumbnail" [src]="item.ccw_thumbnail">
        <h2 [innerHtml]="item.title.rendered"></h2>
        <p [innerHtml]="item.excerpt.rendered"></p>
      </button>
      <div><ion-icon name="share-alt"> Compartilhar</ion-icon>
      </div>
      </ion-item>
  </ion-list>
</ion-content>
